In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Daily_Demand_Forecasting_Orders.csv")

In [3]:
df.head()

,Week of the month (first week,second,third,fourth or fifth week;Day of the week (Monday to Friday);Non-urgent order;Urgent order;Order type A;Order type B;Order type C;Fiscal sector orders;Orders from the traffic controller sector;Banking orders (1);Banking orders (2);Banking orders (3);Target (Total orders)
0,1;4;316.307;223.270;61.543;175.586;302.448;0;6...,NaN,NaN,NaN
1,1;5;128.633;96.042;38.058;56.037;130.580;0;404...,NaN,NaN,NaN
2,1;6;43.651;84.375;21.826;25.125;82.461;1.386;1...,NaN,NaN,NaN
3,2;2;171.297;127.667;41.542;113.294;162.284;18....,NaN,NaN,NaN
4,2;3;90.532;113.526;37.679;56.618;116.220;6.459...,NaN,NaN,NaN

In [4]:
data = pd.DataFrame(df['Week of the month (first week'].str.split(';',13).tolist(),
                    columns = 
                    ['fourth','Day_of_the_week','Non-urgent-order',
                     'Urgent-order','OrderA','OrderB','OrderC','Fiscal','traffic-orders',
                     'Banking-orders-1','Banking-orders-2','Banking-orders-3','target'])

In [5]:
data.head()

,fourth,Day_of_the_week,Non-urgent-order,Urgent-order,OrderA,OrderB,OrderC,Fiscal,traffic-orders,Banking-orders-1,Banking-orders-2,Banking-orders-3,target
0,1,4,316.307,223.270,61.543,175.586,302.448,0,65556,44914,188411,14793,539.577
1,1,5,128.633,96.042,38.058,56.037,130.580,0,40419,21399,89461,7679,224.675
2,1,6,43.651,84.375,21.826,25.125,82.461,1.386,11992,3452,21305,14947,129.412
3,2,2,171.297,127.667,41.542,113.294,162.284,18.156,49971,33703,69054,18423,317.120
4,2,3,90.532,113.526,37.679,56.618,116.220,6.459,48534,19646,16411,20257,210.517

In [7]:
data.isnull().any()

fourth              False
Day_of_the_week     False
Non-urgent-order    False
Urgent-order        False
OrderA              False
OrderB              False
OrderC              False
Fiscal              False
traffic-orders      False
Banking-orders-1    False
Banking-orders-2    False
Banking-orders-3    False
target              False
dtype: bool

In [8]:
data.isnull().sum()

fourth              0
Day_of_the_week     0
Non-urgent-order    0
Urgent-order        0
OrderA              0
OrderB              0
OrderC              0
Fiscal              0
traffic-orders      0
Banking-orders-1    0
Banking-orders-2    0
Banking-orders-3    0
target              0
dtype: int64

In [9]:
data.dtypes

fourth              object
Day_of_the_week     object
Non-urgent-order    object
Urgent-order        object
OrderA              object
OrderB              object
OrderC              object
Fiscal              object
traffic-orders      object
Banking-orders-1    object
Banking-orders-2    object
Banking-orders-3    object
target              object
dtype: object

In [11]:
data = data.astype(float)

In [12]:
data.dtypes

fourth              float64
Day_of_the_week     float64
Non-urgent-order    float64
Urgent-order        float64
OrderA              float64
OrderB              float64
OrderC              float64
Fiscal              float64
traffic-orders      float64
Banking-orders-1    float64
Banking-orders-2    float64
Banking-orders-3    float64
target              float64
dtype: object

In [14]:
data.head()

,fourth,Day_of_the_week,Non-urgent-order,Urgent-order,OrderA,OrderB,OrderC,Fiscal,traffic-orders,Banking-orders-1,Banking-orders-2,Banking-orders-3,target
0,1.0,4.0,316.307,223.270,61.543,175.586,302.448,0.000,65556.0,44914.0,188411.0,14793.0,539.577
1,1.0,5.0,128.633,96.042,38.058,56.037,130.580,0.000,40419.0,21399.0,89461.0,7679.0,224.675
2,1.0,6.0,43.651,84.375,21.826,25.125,82.461,1.386,11992.0,3452.0,21305.0,14947.0,129.412
3,2.0,2.0,171.297,127.667,41.542,113.294,162.284,18.156,49971.0,33703.0,69054.0,18423.0,317.120
4,2.0,3.0,90.532,113.526,37.679,56.618,116.220,6.459,48534.0,19646.0,16411.0,20257.0,210.517

In [ ]:
Data Set Information:

The database was collected during 60 days, this is a real database of a Brazilian company of large logistics.
Twelve predictive attributes and a target that is the total of orders for daily. treatment

*columns:
    
fourth or fifth week;
Day of the week (Monday to Friday);
Non-urgent order;
Urgent order;
Order type A;
Order type B;
Order type C;
Fiscal sector orders;
Orders from the traffic controller sector;
Banking orders (1);
Banking orders (2);
Banking orders (3);
Target (Total orders)

In [15]:
def aumentarDimension(dataframe):
    return dataframe.values.reshape(dataframe.shape[0],dataframe.shape[1],1)

In [17]:
dataT=aumentarDimension(data)
dataT.shape

(60, 13, 1)